@using Three.Model
@model Employee
<form asp-action="Add">
    <input type="hidden" asp-for="DepartmentId" />
    <div class="row form-group">
        <div class="col-md-2 offset-md-2">
            <label asp-for="SurnName"></label>
        </div>
        <div class="col-md-6">
            <input class="form-contorl" asp-for="SurnName" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2 offset-md-2">
            <label asp-for="FullName"></label>
        </div>
        <div class="col-md-6">
            <input class="form-contorl" asp-for="FullName" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2 offset-md-2">
            <label asp-for="Gender"></label>
        </div>
        <div class="col-md-6">
            <select class="form-contorl" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()"> </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>